@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Michael's<br/>CS7504 Assignment 2 Web App</h1>
    <p>Welcome to CS7504 Assignment 2's Web App, hosted in Microsoft Azure with CI/CD pipeline from Microsoft Azure DevOps and powered by Docker and Kubernetes. </p>
</div>
<div class="text-left">

</div>